.cuadroInicioSesion {
    width: 300px;
    height: 60px;
    background-color: #ffffff;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 50px auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 0 10px; /* Agrega un poco de espacio alrededor del contenido */

}

/* Contenedor que agrupa el cuadrado y el botón */
.contenedor-inicioSesion {
    display: flex; /* Alinea los hijos horizontalmente */
    align-items: center; /* Alinea los hijos verticalmente */
    justify-content: center; /* Opcional: centra el contenido en la página */
}

/* Para los select y los inputs, agregamos un espaciado vertical */
.contenedor-linea-inicioSesion {
    display: flex;
    flex-direction: row; /* Horizontal */
    align-items: center; /* Alineamos el texto y el campo de entrada verticalmente */
    justify-content: center; /* Centrado */
    margin-bottom: 30px; /* Espaciado entre los elementos */
    gap:10px;
}

/* Se encarga de poner el texto a la izquierda y el campo de escribir a la derecha del mismo */
.label-inicioSesion {
    margin-right: 10px; /* Espacio entre el texto y el campo de escribir */
    white-space: nowrap; /* Se evita que el texto se rompa */
    margin-bottom: 5px; /* Espacio entre el label y el input */
    width: 120px; /* Todas las etiquetas tienen el mismo ancho */
    text-align: left;    /* Texto pegado a la izquierda para alinearse con el input */
}

/* Aseguramos que los inputs y selects ocupen todo el ancho disponible */
.cuadro-texto-inicioSesion, .form-select {
    width: 100%;
    max-width: 300px; /* Ajusta el tamaño máximo */
    margin-right: 25px; /* Deja un margen a la derecha ->  Lo separa de la derecha*/
}

.boton-volver {
    display: flex; /*Permite una mejor disposición de los elementos*/
    justify-content: flex-end; /* Alinea el botón a la derecha */
    margin-top: 15px; /* Espacio entre la tabla y el botón */
}

.boton-volver .btn {
    font-size: 14px;/* Tamaño del texto */
    padding: 5px 10px;/* Tamaño del botón */
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    border: 1px solid #007bff; /* Borde sólido*/
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Manita al pasar por el botón */
}

.boton-volver .btn:hover {
    background-color: white; /* Cambia el fondo a blanco */
    color: #007bff; /* Cambia el texto al color original del fondo */
    border: 1px solid #007bff; /* Añade un borde del color original */
}

/*Afecta a todos los elementos de boton-espacio*/
.boton-espacio{
    display: flex; /*Permite una mejor dispoición de los elementos*/
    justify-content: center; /* Alinea el botón a la derecha */
    gap: 10px; /* Espaciado entre los botones */

}

/*Afecta al elemento botón*/
.boton-espacio .btn{

    font-size: 14px;/* Tamaño del texto */
    padding: 5px 10px;/* Tamaño del botón */
    color: white; /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Manita al pasar por el botón */
    margin-top: 15px; /* Espacio entre la tabla y el botón */
}

/*Cuando pasas el puntero del ratón por encima del botón*/
.boton-espacio .btn:hover {
    background-color: white; /* Cambia el fondo a blanco */
    color: #007bff; /* Cambia el texto al color original del fondo */
    border: 1px solid #007bff; /* Añade un borde del color original */
}


.boton-derecha {
    font-size: 14px; /* Tamaño del texto */
    padding: 5px 10px; /* Tamaño del botón */
    background-color: #007bff; /* Color de fondo */
    color: white; /* Color del texto */
    border: 1px solid #007bff; /* Borde sólido*/
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Manita al pasar por el botón */
    transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.boton-derecha:hover {
    background-color: white; /* Cambia el fondo a blanco */
    color: #007bff; /* Cambia el texto al color original del fondo */
    border: 1px solid #007bff; /* Añade un borde del color original */
}

.identificador {
    font-weight: bold;
    font-size: 1.2em;
    justify-content: left;
    margin: 50px auto;
}

.cuadradoID{
    width: 300px;
    height: 60px;
    background-color: #ffffff;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.cuadradoVisualizarAgregarModificar {
    width: 300px;
    height: 60px;
    background-color: #ffffff;
    border: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin: 50px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* MANEJO DE ERRORES: Cuadrado del campo se vuelve en color rojo*/
.error {
    border: 2px solid red;
    background-color: #ffe6e6;
}

.mensaje-error {
    color: red;
    font-size: 12px;
    margin-top: 2px;
    height: 16px; /* Fijar la altura para que el formulario no se desplace */
    white-space: nowrap; /* Evita que el mensaje se expanda en múltiples líneas */
}

.formulario-inicioSesion-centrado {
    display: flex;
    flex-direction: column;
    align-items: center;  /* Centra horizontalmente */
}

/* IMAGEN LOGO */
.ApexGenomicLogoInicioSesion {
    width: 200px;
    margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
